@using MeetingRoomReservation._1Shared.Utilities.Results.ComplexTypes
@model MeetingRoomReservation._2Entities.DTOs.PlaceListDto
@{
    Layout="_Layout";
    ViewBag.Title="Yerleşkeler İndex";
}

@if (Model.ResultStatus==ResultStatus.Success)

{
    <div id="modalPlaceHolder" aria-hidden="true" ></div>
     <div class="card mb-4 mt-2">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Yerleşkeler
                            </div>

                <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="yerleskesTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                  <th>#</th>
                                                <th>Yerleske Adi</th>
                                                <th>Aktif</th>
                                                  <th>Oluşturma Tarihi</th>
                                  
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                 <th>#</th>
                                              <th>Yerleske Adi</th>
                                                <th>Aktif</th>
                                                   <th>Oluşturma Tarihi</th> 
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                       @foreach (var place in Model.Places)
                                       {  <tr name="@place.Id">
                                            <td>@place.Id</td>
                                                <td>@place.Name</td>
                                                <td>@place.IsActive</td>
                                                <td>@place.CreatedDate</td>
                             
                                            </tr>}
                                          
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
}

@if (Model.ResultStatus==ResultStatus.Error)
{
           <div class="alert alert-danger mt-3">
        @Model.Message <br/>
        Dashboard sayfasına geri dönmek için lütfen <a class="alert-link" asp-area="Admin" asp-controller="Home" asp-action="Index">tıklayınız.</a>
    </div>

}

@section Scripts
{
     
        <script>   
        $(document).ready(function() {
          
            $('#yerleskesTable').DataTable({
        dom:
                    "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    {
        text: 'Ekle',
                        attr: { id: "btnAdd",},
                        className: 'btn btn-success',
                        action: function(e, dt, node, config) {

    }
                    },
                    {
        text: 'Yenile',
                        className: 'btn btn-warning',
                        action: function(e, dt, node, config) {
        alert('Yenile butonuna basıldı.');
                        }
                    }
                ],
                language: {
        "sDecimal": ",",
                    "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                    "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                    "sInfoEmpty": "Kayıt yok",
                    "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                    "sLoadingRecords": "Yükleniyor...",
                    "sProcessing": "İşleniyor...",
                    "sSearch": "Ara:",
                    "sZeroRecords": "Eşleşen kayıt bulunamadı",
                    "oPaginate": {
        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    "oAria": {
        "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                    },
                    "select": {
        "rows": {
        "_": "%d kayıt seçildi",
                            "0": "",
                            "1": "1 kayıt seçildi"
                        }
                    }
                }
            });

                        /* DataTables end here */


            /* Ajax GET / Getting the _CategoryAddPartial as Modal Form starts from here. */
            $(function() {
                const url = '/Admin/Place/Add/';
                const placeHolderDiv = $('#modalPlaceHolder');
                $('#btnAdd').click(function() {
        $.get(url).done(function (data) {
            placeHolderDiv.html(data);
            placeHolderDiv.find(".modal").modal('show');
        });
                });
             });
        });
    </script>
}

